@model List<K53Forum.Models.Post>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            Chuyên mục "<strong>@ViewBag.Title</strong>"
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tbody>
                    @foreach (var p in Model)
                    {
                        <tr class="k53-pointer">
                            <td class="hidden-xs" style="width:80px;">
                                <img src="~/Image/ima2.jpg" class="img-responsive" style="height:50px" />
                            </td>
                            <td>
                                <p class="k53-title">
                                    <a href="/post/details/@p.Id">@p.Title</a>
                                </p>
                                <span class="text-muted"><i class="fa fa-user-o" aria-hidden="true"></i> Mới nhất bởi: </span><a href="/member/details/@p.MemberId">@p.Member.Fullname</a>,
                                <i class="fa fa" aria-hidden="true"></i> <span class="text-muted">@p.DateCreated.</span>
                                <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> viết bình luận</a>
                                <a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i> chia sẽ</a>
                                <span class="text-muted">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i> @p.Comments.Count().ToString()
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @p.Likeds.Count().ToString()
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> @p.DisLikeds.Count().ToString()
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-3">
    @{ Html.RenderAction("_MenuBar", "Home", null);}
</div>