@{
    ViewBag.Title = "Trang chủ";
}
@model IEnumerable<K53Forum.Models.Article>


@section scripts{
}


<div class="col-md-8">
    @{ Html.RenderAction("_Carousel", "Home", null);}
    <h4 class="page-header"><strong>Bài viết mới nhất</strong></h4>
    @foreach (var p in Model)
    {
        <div class="media">
            <div class="media-left hidden-xs">
                <a href="/member/details/@p.MemberId">
                    <img class="media-object k53-media" src="@p.Member.Avatar" alt="@p.Member.Avatar" style="max-width:50px">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="/article/details/@p.Id">@p.Title</a>
                    @if (Membership.GetUser() != null)
                    {
                        var username = Membership.GetUser().UserName;
                        var memberId = (new K53Forum.Models.DbK53Forum())
                            .Members.Where(x => x.Username == username)
                            .FirstOrDefault<K53Forum.Models.Member>().Id;
                        if (p.Member.Id == memberId)
                        {
                            <small class="text-muted" style="font-size:15px"><a href="/article/edit/@p.Id"><i class="fa fa-edit k53-color-hover"></i></a></small>
                        }
                    }
                </h4>
                <small>
                    @if (Membership.GetUser() != null)
                    {
                        var username = Membership.GetUser().UserName;
                        var memberId = (new K53Forum.Models.DbK53Forum())
                            .Members.Where(x => x.Username == username)
                            .FirstOrDefault<K53Forum.Models.Member>().Id;
                        if (p.Likeds.Where(x => x.MemberId == memberId).FirstOrDefault() == null)
                        {
                            <a class="liked" id="liked-@p.Id" data-key="@p.Id" href="javascript:void(0);"> Thích</a>
                        }
                        else
                        {
                            <a class="k53-link liked" id="liked-@p.Id" data-key="@p.Id" href="javascript:void(0);"> Đã thích</a>
                        }
                    }
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" id="likedCount-@p.Id"> @p.Likeds.Count().ToString()</i>

                    <i class="fa fa-eye" aria-hidden="true" id=""> @p.Count</i>
                    <i class="fa fa-comments-o" aria-hidden="true"></i> @p.Comments.Count().ToString()
                    <span class="text-muted"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Mới nhất bởi: </span><a href="/member/details/@p.MemberId">@p.Member.Fullname</a>,
                    <i class="fa fa" aria-hidden="true"></i> <span class="text-muted">@p.DateCreated.</span>
                </small><br />
                @(Html.Raw(p.Content.Substring(0, p.Content.Length >= 500 ? 500 : p.Content.Length)))...
            </div>
        </div>

        <hr />
    }
    <div class="m-b-10">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span>Xem thêm tại mục <a href="/discussion/index" role="button">hỏi đáp</a> hoặc <a href="/article/index" role="button">bài viết</a></span>
        </div>
    </div>
</div>
<div class="col-md-4">
    @{ Html.RenderAction("_MenuBar", "Home", null);}
</div>