@{
    var categories = (List<K53Forum.Models.Category>)ViewBag.Categories;
    var articles = (List<K53Forum.Models.Article>)ViewBag.Articles;
    var discussions = (List<K53Forum.Models.Discussion>)ViewBag.Discussions;
    var tutorials = (List<K53Forum.Models.Tutorial>)ViewBag.Tutorials;
    var members = (List<K53Forum.Models.Member>)ViewBag.Members;
    var count = ViewBag.Count;
}
@section scripts{
 
}

@if (categories.Count() >= 0)
{
    <div class="m-b-10">
        <h4 class="page-header"><strong>Chuyên mục</strong></h4>
        <a href="/category/index" class="badge">Tất cả chuyên mục</a>
        @foreach (var c in categories)
        {
            <a href="/category/details/@c.Id" class="badge">@c.Name</a>
        }
    </div>
}

@if (discussions.Count() >= 0)
{
    <div class="m-b-10">
        <h4 class="page-header"><strong>Thảo luận tiêu biểu</strong></h4>
        @foreach (var p in discussions)
        {
            <p>
                <span class=" badge">@p.Replies.Count()</span>
                <a href="/discussion/details/@p.Id">@p.Title</a>
            </p>
        }
    </div>
}

@if (articles.Count() >= 0)
{
    <div class="m-b-10">
        <h4 class="page-header"><strong>Bài viết mới nhất</strong></h4>
        @foreach (var p in articles)
        {
            <p>
                <span class=" badge">@p.Likeds.Count()</span>
                <a href="/article/details/@p.Id">@p.Title</a>
            </p>
        }
    </div>
}

@if (tutorials.Count() >= 0)
{
    <div class="m-b-10">
        <h4 class="page-header"><strong>Hướng dẫn mới nhất</strong></h4>
        @foreach (var p in tutorials)
        {
            <p>
                <span class=" badge">@p.Count</span>
                <a href="/tutorial/details/@p.Id">@p.Title</a>
            </p>
        }
    </div>
}

@if (members.Count() >= 0)
{
    <div class="m-b-10">
        <h4 class="page-header"><strong>Thành viên tiêu biểu</strong></h4>
        @foreach (var m in members)
        {
            <div class="media">
                <div class="media-left">
                    <a href="/member/details/@m.Id">
                        <img class="media-object" src="@m.Avatar" alt="@m.Avatar" style="max-width:50px;">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading"><a href="/member/details/@m.Id">@m.Fullname</a></h5>
                    <strong>@(m.Articles.Count() + m.Discussions.Count() + m.Tutorials.Count())</strong> điểm tin cậy
                </div>
            </div>
        }
    </div>
}