@model K53Forum.Models.Member

@{
    ViewBag.Title = Model.Fullname;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Thành viên "<strong>@Model.Fullname</strong>"
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="@Model.Avatar" class="img-responsive" />
                    </div>
                    <div class="p-t-20">
                        @if (Membership.GetUser() != null && Membership.GetUser().UserName == Model.Username)
                        {
                            <a href="/member/edit/@Model.Id" class="btn btn-primary btn-block"><i class="fa fa-edit" aria-hidden="true"></i> Chỉnh sửa</a>
                        }
                        else
                        {
                            <a href="/member/report/@Model.Id" class="btn btn-default btn-block"><i class="fa fa-frown-o" aria-hidden="true"></i> Báo cáo</a>
                        }
                    </div>
                </div>
                <div class="col-md-9">
                    <p class="k53-title">@Model.Fullname</p>
                    <p>@Html.DisplayNameFor(model => model.Role.RoleName): @Model.Role.RoleName</p>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <p>@Html.DisplayNameFor(model => model.Gender): @Model.Gender</p>
                            <p>@Html.DisplayNameFor(model => model.Birthday): @Model.Birthday.ToString("dd/MM/yyyy")</p>
                            <p>@Html.DisplayNameFor(model => model.DateCreated): @Model.DateCreated</p>
                        </div>
                        <div class="col-md-6">
                            <p>@Html.DisplayNameFor(model => model.Email): @Model.Email</p>
                            <p>@Html.DisplayNameFor(model => model.Phone): @Model.Phone</p>
                            <p>Số lượng bài viết: @Model.Posts.Count().ToString("00")</p>
                        </div>
                        <div class="col-md-12">
                            <p>@Html.DisplayNameFor(model => model.Address): @Model.Address</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Chuyên mục
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tbody>
                    @foreach (var p in Model.Posts)
                    {
                        <tr class="k53-pointer">
                            <td class="hidden-xs" style="width:80px;">
                                <img src="@p.Member.Avatar" class="img-responsive k53-border-left" style="height:50px" />
                            </td>
                            <td>
                                <p class="k53-title">
                                    <a href="/post/details/@p.Id">@p.Title</a>
                                    @if (Membership.GetUser() != null && p.Member.Username == Membership.GetUser().UserName)
                                    {
                                        <small class="text-muted" style="font-size:15px"><a href="/post/edit/@p.Id"><i class="fa fa-edit k53-color-hover"></i></a></small>
                                    }
                                </p>
                                @if (Membership.GetUser() != null)
                                {
                                    var username = Membership.GetUser().UserName;
                                    var memberId = (new K53Forum.Models.DbK53Forum())
                                        .Members.Where(x => x.Username == username)
                                        .FirstOrDefault<K53Forum.Models.Member>().Id;
                                    if (p.Likeds.Where(x => x.MemberId == memberId).FirstOrDefault() == null)
                                    {
                                        <a class="liked" id="liked-@p.Id" data-key="@p.Id" href="javascript:void(0);"> Thích</a>
                                    }
                                    else
                                    {
                                        <a class="k53-link liked" id="liked-@p.Id" data-key="@p.Id" href="javascript:void(0);"> Đã thích</a>
                                    }
                                }
                                <i class="fa fa-thumbs-o-up" aria-hidden="true" id="likedCount-@p.Id"> @p.Likeds.Count().ToString()</i>

                                @if (Membership.GetUser() != null)
                                {
                                    var username = Membership.GetUser().UserName;
                                    var memberId = (new K53Forum.Models.DbK53Forum())
                                        .Members.Where(x => x.Username == username)
                                        .FirstOrDefault<K53Forum.Models.Member>().Id;
                                    if (p.DisLikeds.Where(x => x.MemberId == memberId).FirstOrDefault() == null)
                                    {
                                        <a class="disliked" id="disliked-@p.Id" data-key="@p.Id" href="javascript:void(0);"> Không thích</a>
                                    }
                                    else
                                    {
                                        <a class="k53-link disliked" id="disliked-@p.Id" data-key="@p.Id" href="javascript:void(0);"> Đã không thích</a>
                                    }
                                }
                                <i class="fa fa-thumbs-o-down" aria-hidden="true" id="dislikedCount-@p.Id"> @p.DisLikeds.Count().ToString()</i>
                                <i class="fa fa-comments-o" aria-hidden="true"></i> @p.Comments.Count().ToString()
                                <span class="text-muted"><i class="fa fa-user-o" aria-hidden="true"></i> Mới nhất bởi: </span><a href="/member/details/@p.MemberId">@p.Member.Fullname</a>,
                                <i class="fa fa" aria-hidden="true"></i> <span class="text-muted">@p.DateCreated.</span>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer text-center">
        </div>
    </div>
</div>