@model K53Forum.Models.Member

@{
    ViewBag.Title = Model.Fullname;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="page-header">
        <h2>Thông tin "<strong>@Model.Fullname</strong>"</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="text-center">
                <img src="@Model.Avatar" class="img-responsive" />
            </div>
            <div class="p-t-20">
                @if (Membership.GetUser() != null && Membership.GetUser().UserName == Model.Username)
                {
                <a href="/member/edit/@Model.Id" class="btn btn-primary btn-block"><i class="fa fa-edit" aria-hidden="true"></i> Chỉnh sửa</a>
                }
                else
                {
                <a href="/member/report/@Model.Id" class="btn btn-default btn-block"><i class="fa fa-frown-o" aria-hidden="true"></i> Báo cáo</a>
                }
            </div>
        </div>
        <div class="col-md-9">
            <div class="page-header" style="margin-top:0px;">
                <h3>@Model.Fullname</h3>
                <small>@Html.DisplayNameFor(model => model.Role.RoleName): @Model.Role.RoleName</small>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>@Html.DisplayNameFor(model => model.Gender): @Model.Gender</p>
                    <p>@Html.DisplayNameFor(model => model.Birthday): @Model.Birthday.ToString("dd/MM/yyyy")</p>
                    <p>@Html.DisplayNameFor(model => model.DateCreated): @Model.DateCreated</p>
                    <p>@Html.DisplayNameFor(model => model.Email): @Model.Email</p>
                    <p>@Html.DisplayNameFor(model => model.Phone): @Model.Phone</p>
                </div>
                <div class="col-md-6">
                    <p>Lượt khách ghé thăm: @Model.Count.ToString("00")</p>
                    <p>Số lượng bài viết: @Model.Articles.Count().ToString("00")</p>
                    <p>Số lượng câu hỏi: @Model.Discussions.Count().ToString("00")</p>
                    <p>Số lượng bài hướng dẫn: @Model.Tutorials.Count().ToString("00")</p>
                </div>
                <div class="col-md-12">
                    <p>@Html.DisplayNameFor(model => model.Address): @Model.Address</p>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="col-md-12">
    @if (Model.Articles.Count() > 0)
    {
        <div class="page-header">
            <h2>Tất cả bài viết</h2>
        </div>
        foreach (var a in Model.Articles)
        {
            <div class="media">
                <div class="media-left hidden-xs">
                    <a href="/member/details/@a.MemberId">
                        <img class="media-object k53-media" src="@a.Member.Avatar" alt="@a.Member.Avatar" style="max-width:50px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="/article/details/@a.Id">@a.Title</a>
                        <small class="text-muted" style="font-size:15px"><a href="/article/edit/@a.Id"><i class="fa fa-edit k53-color-hover"></i></a></small>
                    </h4>
                    <small>
                        @if (Membership.GetUser() != null)
                    {
                        var username = Membership.GetUser().UserName;
                        var memberId = (new K53Forum.Models.DbK53Forum())
                            .Members.Where(x => x.Username == username)
                            .FirstOrDefault<K53Forum.Models.Member>().Id;
                        if (a.Likeds.Where(x => x.MemberId == memberId).FirstOrDefault() == null)
                        {
                    <a class="liked" id="liked-@a.Id" data-key="@a.Id" href="javascript:void(0);"> Thích</a>
                            }
                            else
                            {
                    <a class="k53-link liked" id="liked-@a.Id" data-key="@a.Id" href="javascript:void(0);"> Đã thích</a>
                            }
                        }
                        <i class="fa fa-thumbs-o-up" aria-hidden="true" id="likedCount-@a.Id"> @a.Likeds.Count().ToString()</i>

                        <i class="fa fa-eye" aria-hidden="true" id=""> @a.Count</i>
                        <i class="fa fa-comments-o" aria-hidden="true"></i> @a.Comments.Count().ToString()
                        <span class="text-muted"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Mới nhất bởi: </span><a href="/member/details/@a.MemberId">@a.Member.Fullname</a>,
                        <i class="fa fa" aria-hidden="true"></i> <span class="text-muted">@a.DateCreated.</span>
                    </small><br />
                    @(Html.Raw(a.Content.Substring(0, a.Content.Length >= 500 ? 500 : a.Content.Length)))...
                </div>
            </div>

            <hr />
        }
    }

    @if (Model.Tutorials.Count() > 0)
    {
        <div class="page-header">
            <h2>Tất cả bài hướng dẫn</h2>
        </div>
        foreach (var t in Model.Tutorials)
        {
            <div class="media">
                <div class="media-left hidden-xs">
                    <a href="/member/details/@t.MemberId">
                        <img class="media-object k53-media" src="@t.Member.Avatar" alt="@t.Member.Avatar" style="max-width:50px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="/tutorial/details/@t.Id">@t.Title</a>
                        <small class="text-muted" style="font-size:15px"><a href="/article/edit/@t.Id"><i class="fa fa-edit k53-color-hover"></i></a></small>
                    </h4>
                    <small>
                        <i class="fa fa-eye" aria-hidden="true" id=""> @t.Count</i>
                        <span class="text-muted"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Mới nhất bởi: </span><a href="/member/details/@t.MemberId">@t.Member.Fullname</a>,
                        <i class="fa fa" aria-hidden="true"></i> <span class="text-muted">@t.DateCreated.</span>
                    </small><br />
                    @(Html.Raw(t.Content.Substring(0, t.Content.Length >= 500 ? 500 : t.Content.Length)))...
                </div>
            </div>

            <hr />
        }
    }

    @if (Model.Discussions.Count()>0)
    {
        <div class="page-header">
            <h2>Tất cả cuộc thảo luận</h2>
        </div>
        foreach (var d in Model.Discussions)
        {
            <div class="media">
                <div class="media-left hidden-xs">
                    <a href="/member/details/@d.MemberId">
                        <img class="media-object k53-media" src="@d.Member.Avatar" alt="@d.Member.Avatar" style="max-width:50px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="/discussion/details/@d.Id">@d.Title</a>
                        <small class="text-muted" style="font-size:15px"><a href="/article/edit/@d.Id"><i class="fa fa-edit k53-color-hover"></i></a></small>
                    </h4>
                    <small>
                        <i class="fa fa-eye" aria-hidden="true" id=""> @d.Count</i>
                        <i class="fa fa-comment-o" aria-hidden="true" id=""> @d.Replies.Count()</i>
                        <span class="text-muted"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Mới nhất bởi: </span><a href="/member/details/@d.MemberId">@d.Member.Fullname</a>,
                        <i class="fa fa" aria-hidden="true"></i> <span class="text-muted">@d.DateCreated.</span>
                    </small><br />
                    @(Html.Raw(d.Content.Substring(0, d.Content.Length >= 500 ? 500 : d.Content.Length)))...
                </div>
            </div>

            <hr />
        }
    }
</div>