@model K53Forum.Models.Member
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script>
        $(function () {
            $("#form-change-password").submit(function (e) {
                e.preventDefault(); // Prevent Default Submission

                var data = $(this).serialize(),
                    action = $(this).attr("action"),
                    method = $(this).attr("method");
                $.ajax({
                    url: action,
                    type: method,
                    data: data,
                    success: function (data) {
                        if (data.status == true) {
                            $.notify({
                                message: 'Mật khẩu của bạn đã được thay đổi'
                            }, {
                                    type: 'success'
                                })
                        }
                        else {
                            $.notify({
                                message: 'Mật khẩu của bạn chưa được thay đổi'
                            }, {
                                    type: 'danger'
                                })
                        }
                    },
                    error: function (err) {
                    },
                    complete: function () {

                    }
                });
            });

        });
    </script>
}
<div class="col-md-8 col-md-offset-2">
    <div class="page-header">
        <h2>Đổi mật khẩu "<strong>@Model.Fullname</strong>"</h2>
    </div>
    @using (Html.BeginForm("password", "member", FormMethod.Post, new { @id = "form-change-password" }))
            {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <fieldset class="form-group">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", @type = "password", @value = "" })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </fieldset>

                <fieldset class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @type = "password", @value = "" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </fieldset>

                    <fieldset class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Thay đổi</button>
                            <a href="/member/details/@Model.Id" class="btn btn-default"><i class="fa fa-remove"></i> Hủy</a>
                        </div>
                    </fieldset>
    }
</div>

